* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
} 

li{
  list-style: none;
}

p {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vw;
  padding: 30px;
  background-color: rgba(16, 62, 105, 0.7);
  color: white;
}

.navlinks {
  display: flex;
  padding: 2vw;
  font-size: 2vw;
  font-weight: 500;
}

.navlinks a {
  color: white;
}

.navlinks li {
  margin: 20px;
  padding: 15px 30px;
}

.navlinks li:hover {
  background-color:rgba(0, 51, 204, 0.5);
  border-radius: 15px;
  transition: 0.5s ease;
}

.name {
  font-size: 2.5vw;
  font-weight: 800;
}

.hero-banner {
  position:relative;
  height: 280px;
  width: 100%;
  overflow: hidden;
  color: white;
  background-color:rgba(16, 62, 105, 0.7);
}

#hero-bg {
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

#profile {
  position: absolute;
  top: 10px;
  left: 10px;
  border:rgba(0, 51, 204, 1) 5px solid;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.hero-text{
  font-size: 30px;
  position: absolute;
  bottom: 30%;
  right: 5%;
}

.about h2 {
  font-size: 4rem;
  text-align: center;
  margin: 20px;
}

.about p {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 20px;
  
}
#work {
  padding: 50px;
  background-color: rgba(16, 62, 105, 0.7);
  
}

#work h2{
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 20px;
}
#work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  border: 2px solid #777;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin: 20px;
}

.card {
  width: 270px;
  height: 400px;
  margin: 10px;
  border: 2px solid #777;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.card-image {
  height: 170px;
  background-color: #777;
  background-size: cover; 
  border-radius: 15px 15px 0 0;
}

.featurecard-image {
  height: 340px;
  background-size: cover; 
  border-radius: 15px 15px 0 0;
}

.card-1 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.card-2 {
  background-image: url('../images/02-portfolio-2.jpg');
}

.card-3 {
  background-image: url('../images/02-portfolio-3.jpg');
}

.card-4 {
  background-image: url('../images/02-portfolio-4.jpg');
}

.card-5 {
  background-image: url('../images/02-run-buddy.jpg');
}

.feature-card h3{
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

.feature-card p {
  font-size: 1.5rem;
  padding: 20px;
}

.card h3{
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  font-size: 1rem;
  padding: 10px;
}

.feature-card a,
.card a {
  background-color: rgba(0, 51, 204, 0.5);
  padding: 5px;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin : 20px 50px;
}

.feature-card a{
  margin : 20px 50px;
  padding: 10px;
}

.feature-card:hover,
.feature-card:focus, 
.card:hover,
.card:focus {
  background-color: rgba(62,62,62,0.5);
  color: white;
  cursor: pointer;
  transform: scale(1.10);
  transition: all 1s ease;
}

.feature-card:hover,
.feature-card:focus  {
  transform: scale(1.05)
}

.contact {
  background-color: white;
  border-top: 2px solid white;
}

.contact h2{
  text-align: center;
  font-size: 4rem;
  color: black;
  padding: 20px;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
  color:white;
}

contact-info a {
  padding: 10px;
}

.contact-info a:hover,
.contact-info a:focus {
  cursor: pointer;
}



  
